.border{
	background-color: #2F80ED;
	width: 400px;
	height: 900px;
}
h1{
	color: #fff;
}
button{
	color: #fff;
	background-color: #333333;
	width: 300px;
	height: 60px;
	font-size: 24px;
 	margin-top: 32px;
}
p{
	color: #4F4F4F;
	font-size: 36px;
	font-weight: 400;
}
